<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd" bootstrap="tests/bootstrap.php" backupGlobals="false" colors="true" failOnRisky="false" failOnWarning="false" stopOnFailure="false" cacheDirectory=".phpunit.cache" beStrictAboutOutputDuringTests="true">
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory suffix="Test.php">./tests/Integration</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <report>
      <html outputDirectory="coverage-html"/>
      <text outputFile="php://stdout" showUncoveredFiles="false"/>
      <clover outputFile="coverage.xml"/>
    </report>
  </coverage>
</phpunit>
